# Зависимости
node_modules/

# Сборка
dist/
build/

# Переменные окружения (КРИТИЧНО: не пушить на GitHub!)
.env
.env.local
.env.production
.env.development

# Базы данных (чтобы не залить гигабайты локальных данных в репозиторий)
pgdata/
mongodata/

# Логи и временные файлы
npm-debug.log*
.DS_Store
